.card-title {
	font-size: 1.25em;
}

#jumbo{
	background-image: url("../public/images/eklavoo.jpg");
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;

}

.jumbotxt{
	color:white;

}

.lead{
	color:black;
	font-size: 1.25em;

}

#tag {
	font-size: 1.25em;
}

